@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  font-size: 120px;
  font-style: normal;
  color: burlywood;
}.flaticon-arrow278:before {
	content: "\e000";
}
.flaticon-flowers12:before {
	content: "\e001";
}
.flaticon-grandmother1:before {
	content: "\e002";
}
.flaticon-hand1:before {
	content: "\e003";
}
.flaticon-human88:before {
	content: "\e004";
}
.flaticon-internet17:before {
	content: "\e005";
}
.flaticon-jumping28:before {
	content: "\e006";
}
.flaticon-male172:before {
	content: "\e007";
}
.flaticon-paralympic30:before {
	content: "\e008";
}
.flaticon-student23:before {
	content: "\e009";
}
.flaticon-telephone14:before {
	content: "\e00a";
}
.flaticon-woman74:before {
	content: "\e00b";
}
